@*224. Добавить аутентификацию в файл App.razor*@
@*<CascadingAuthenticationState>*@
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Please wait, we are authorizing the user</p>
            </Authorizing>
            <NotAuthorized>
                @*256. Добавить вызов нового компонента в файл App.razor*@
                @*<p>Not Authorized</p>*@
                <TeslaRent_Client.Pages.Authentication.RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
@*</CascadingAuthenticationState>*@